<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% for categoria in categoria %}
        <div class="card" style="width: 20rem; margin: 1.5em;">
            <img class="categoria-image" src=" {{ categoria.imagem_cat }}" alt="{{categoria.titulo_cat}}">
            <div class="card-body">
                <h5 class="card-title">{{ categoria.titulo_cat }}</h5>
                <p class="card-text">{{ categoria.descricao_cat }}</p>
            </div>
        </div>
    {% endfor %}
</body>
</html>